<header class="desktop">
	<div class="logo">
		<img src="\assets\svg\exTrading.io.svg" alt="Logo" />
	</div>

	<nav>
		<div class="profile">
			<div class="logout" (click)="logout()">
				<span class="color-secundary"><i class="material-icons">logout</i>Logout</span>
			</div>
		</div>
	</nav>

	<!-- <div class="header">
		<img src="\assets\svg\exTrading.io.svg" alt="exTrading">
		<div class="logout" (click)="logout()">
		  <span class="color-secundary"><i class="bs-icon bs-logout"></i>Logout</span>
		</div>
	 </div> -->


</header>

<!-- <header class="mobile">
	<h1>genesis</h1>
	<button (click)="ActiveMenu()"><i class="fas fa-bars"></i></button>
</header>
<ng-container *ngIf="ismenuMobileActive">
	<app-menu-mobile (closeMenu)="deactivateMenu($event)"></app-menu-mobile>
</ng-container> -->