@import '../../../../stylus/color'

.desktop

	display flex
	align-items center
	justify-content space-between
	height 104px
	min-width 100vw
	width 100%
	margin-bottom 16px
	box-shadow 0px 3px 5px #00000012
	background white
	position fixed
	top 0

	// #C4D3EBFD
	.logo
		height 60px
		padding 15px
		margin 40px

	.profile
		
		height 40px
		padding 0 20px
		border-left 1px solid #e0e0e0
		display flex
		justify-content center
		align-items center
		cursor pointer

		span
			font-size 13px
			display flex
			align-items center

		i
			margin-right 10px

nav
	display flex
	flex 1
	align-items center
	justify-content flex-end

header
	.profile
		height 40px
		display flex
		align-items center
		padding 0px 10px

.imagem
	top 40px
	left 47px
	width 150px
	height 24px

.logout
	height 40px
	padding 0 20px
	border-left 1px solid grey-1
	display flex
	justify-content center
	align-items center
	cursor pointer

span
    font-size 13px
    display flex
    align-items center


.hight
	height 52%

.mobile
	display none

