<div class="prof">
  <section>
        <div>
              <form>
                <h1>
                    My profile
                </h1>
                <h2>
                    Your profile information
                </h2>
                <h3>
                  Name
                </h3>
                <input placeholder="Type your name here" type="text">
                <h3>
                  Email
                </h3>
                <input placeholder="Type your email here" type="text">

                <h4>
                    Password
                </h4>
                <h3>
                  New password
                </h3>
                <input placeholder="Type new password here" type="text">
                <h3>
                  Confirm new password
                </h3>
                <input placeholder="Type new password here" type="text">
              </form>
              <div>
                <div class="buttons">
                  <button>Save changes</button>
                </div>
              </div>
        </div>
  </section>
</div>
    <div class="prof2">
                    <h1>
                        Security
                    </h1>
                    <h1>
                        2FA
                    </h1>
                    <h2>
                      Two-Factor Authentication
                    </h2>
                    <h1>
                      Enabled
                    </h1>    
    </div>