<div id="recovery">
	<div id="first">
		<img src="\assets\img\Path 2.png" alt="Imagem Azul de fundo">
	</div>



	<div id="content">
		<img src="\assets\img\Asset 1.png" alt="Imagem Azul de fundo">
		<h1>{{ 'RECOVERY_PASSWORD.PASS_ACESS' | translate }}</h1>
		<p>{{ 'RECOVERY_PASSWORD.PASS_LINK' | translate }}</p>
		<form>
			<input type="text" placeholder="{{ 'RECOVERY_PASSWORD.YOUR_EMAIL' | translate }}">
			<div>
				<button>{{ 'RECOVERY_PASSWORD.SEND_LINK' | translate }}</button>
			</div>

		</form>

		<span><a [routerLink]="['/authentication/login']">{{ 'RECOVERY_PASSWORD.SIGN_IN' | translate }}</a> {{ 'RECOVERY_PASSWORD.SIGN_IN_TO' | translate }}</span>

	</div>
	<div>
		<img src="\assets\img\Path 2.png" alt="Imagem Azul de fundo">
	</div>


</div>
