/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeflex/primeflex.css'
@import '../node_modules/primeicons/primeicons.css'
@import '../node_modules/ag-grid-community/dist/styles/ag-grid.css'
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css'
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap')
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'
@import 'https://kit-pro.fontawesome.com/releases/v5.12.0/css/pro.min.css'
@import 'stylus/global'
